* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}


.container {
    width: 100%;
    height: 100%;
    background-color: darkslategray;

    display: flex;
    justify-content: center;
    align-items: center;

}

#canvas {
    background-color: transparent;
}